body {
  background-color: red;
}

.container h1{
  font-size: 45px;
  text-align: center;
  color: #fff;
  position: absolute;
  right: 40%;
  top: 38%;
  width: 278px;
  color: #f10c0c;
}

.container button {
  width : 200px;
  position: absolute;
  right: 43%;
  top: 60%;
}
